.header {
  display: flex;
  min-height: 100%;
  width: 100%;
  height: 7em;
}

.Logo {
  flex: 2;
  min-height: 100%;
  padding-top: 5px;
  text-align: center;
}
.Logo img {
  width: 50%;
  height: 50%;
}

.Navigation {
  flex: 6;
}

.Tag-cloud {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.Tag-cloud li {
  list-style-type: none;
  display: block;
  margin: 15px;
}

.Tag-cloud li a {
  background: #f5f5f5;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #757575;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border: solid #e0dde0 1px;
  text-decoration: none;
}

.Tag-cloud li a:hover {
  background: #cccccc;
  color: #fff;
  text-decoration: none;
  border: 1px solid #eeeeee;
}
